@model IEnumerable<IQuad2.ViewModels.UserVm>

@{
    ViewBag.Title = "user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Users</h2>

<div class="bk">
    <table id="user" class="table table-bordered table-hover ">
        <thead>

            <tr>

                <th><h5>First Name</h5> </th>
                <th><h5>Last Name</h5></th>
                <th><h5>User Type</h5></th>


            </tr>

        </thead>
        <tbody>
            @foreach (var result in Model)
            {
                <tr>
                    <td>@result.user.Fname</td>
                    <td>@result.user.Lname</td>
                    <td>@String.Join(" | ", @result.RolesString)</td>
                </tr>
            }

        </tbody>
    </table>
</div>
