@model IEnumerable<IQuad2.Models.ApplicationUser>

@{
    ViewBag.Title = "user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<div class="bk">
    <table id="user" class="table table-bordered table-hover">
        <thead>

            <tr class="bkg">

                <th>First Name</th>
                <th>Last Name</th>
                <th>User Type</th>


            </tr>

        </thead>
        <tbody>
            @foreach (var users in Model)
            {
                <tr>

                    <td>@users.Fname</td>
                    <td>@users.Lname</td>
                    <td>@users.UserType.Name</td>
                </tr>
            }

        </tbody>
    </table>
</div>
