<footer class="footer">
    <p>© 2019 - I-Quad Medical Appointment System | All rights reserved.</p><a href="@Url.Action("Index","Home")" class="waves-effect"><i class="glyphicon glyphicon-home"></i><span> Back Home </span></a>
   
</footer>