
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <h1 style="color:white; font-family:'Agency FB'"> I-QUAD</h1>
        </div>

        <nav class="navbar-custom">

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <h2 style="font-family:'Agency FB'">Medical Appointment System Users Role</h2>
                </li>

            </ul>
        </nav>
    </div>


<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="@Url.Action("Index","Home")" class="waves-effect"><i class="glyphicon glyphicon-home"></i><span> Home </span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Roles")" class="waves-effect"><i class="glyphicon glyphicon-user"></i><span> Manage User and Roles </span></a>
                </li>







            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
