body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.bg{
    background-image:url(Pictures/About-image.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    float:none;


}

.bk{
    background-color:#2A363B;
   
}
.bga{
    background-color:#2B3A4A;
}

.bkga{

    background-image:url(Pictures/admin.jpg)
  
 }
.bk table tbody tr:hover{
    background-color:#7A6FBE;

}
    .bk table thead tr th {
        color: #7ECC78;
        font-weight: bold;
        text-align: center;
    }
.bk table tbody tr td,
.bk table tbody tr td a{
    color: white;
 }


a.my-class {
    color: #333333
}

 a.my-class:active {
        color: #666666
    }

 a.my-class:link {
        color: #999999
    }
a.my-class:visited {
        color: #CCCCCC
    }
.appt a {
    color:white;
}
.bk-1 .panel-heading {
    background-color: #2A363B;
    color: #7ECC78;
}
.bk-1 .panel-primary {
    border: solid 1px #2A363B;
}